*.in
*.la
*.lo
*.log
*.m4
*.o
*.out

ar-lib
autom4te.cache/
compile
config.guess
config.h
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
missing
output_test.txt
src/.deps/
src/.libs/
stamp-h1
test-driver
test/.deps/
test/.libs/
test/tree_traversal_test
test/tree_traversal_test.trs